.favourite-section {
  padding: 2rem 3rem;
  overflow-y: scroll;
  width: 100%;
  overflow-x: hidden;
}
.favourite-section::-webkit-scrollbar {
  width: 15px;
}
.favourite-section::-webkit-scrollbar-track {
  background-color: var(--scroll-color);
}
.favourite-section::-webkit-scrollbar-thumb {
  background: var(--scroll-bg);
  background-clip: content-box;
  border-radius: 20px;
  border: 6px solid var(--scroll-color);
}
.favourite-section > h1 {
  color: var(--text-color);
  margin: 0 0 1.2rem;
  font-size: 1.8rem;
  font-weight: 400;
}
.favourite-movies {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  width: 100%;
}
.resultCard {
  display: block;
  width: calc(16.67% - 2.5rem);
  text-align: center;
}
.poster-wrapper {
  height: 300px;
  position: relative;
}
.movie-ratings {
  border-radius: 50%;
  color: var(--text-color);
  background: rgb(240, 84, 27);
  padding: 0.8rem 0.4rem;
  position: absolute;
  text-align: center;
  top: 65%;
  right: -10%;
  font-weight: 600;
}
.poster-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.2) 0px 6px 6px;
}
.movie-title,
.release-date {
  font-size: 0.7rem;
  color: var(--card-title);
  letter-spacing: 1px;
  text-align: center;
  margin: 0.7rem 0 0.2rem;
}
.release-date {
  margin: 0;
  font-size: 10px;
}
.control-btn {
  display: none;
  position: absolute;
  top: 0px;
  right: 0;
  color: var(--text-color);
  padding: 0.3rem 0.5rem;
  background: #0fd5ff;
  cursor: pointer;
  border-radius: 2px;
  font-size: 10px;
}
.resultCard:hover .control-btn {
  display: block;
}
.no-movies {
  margin-top: 1.5rem;
  color: var(--text-color);
  font-size: 1rem;
}
@media (max-width: 1750px) {
  .resultCard {
    width: calc(20% - 2.4rem);
  }
  .movie-ratings {
    top: 65%;
    right: -10%;
  }
}
@media (max-width: 1440px) {
  .favourite-movies {
    gap: 2.5rem;
  }
  .resultCard {
    width: calc(20% - 2rem);
  }
  .movie-ratings {
    top: 65%;
    right: -15%;
  }
  .poster-wrapper {
    height: 200px;
  }
}
@media (max-width: 1150px) {
  .favourite-section {
    padding: 1.5rem 1rem;
  }
}
@media (max-width: 990px) {
  .favourite-movies {
    gap: 2rem;
  }
  .resultCard {
    width: calc(25% - 1rem);
  }
  .movie-ratings {
    background: rgb(240, 84, 27);
    position: absolute;
    top: 65%;
    right: -15%;
    font-weight: 600;
    font-size: 12px;
  }
}
@media (max-width: 850px) {
  .favourite-movies {
    gap: 1.5rem;
  }
  .resultCard {
    width: calc(25% - 1.3rem);
  }
  .poster-wrapper {
    height: 150px;
  }
}
@media (max-width: 470px) {
  .favourite-movies {
    justify-content: center;
  }
  .resultCard {
    width: calc(33.3% - 1rem);
  }
  .poster-wrapper {
    height: 130px;
  }
}
