a {
  text-decoration: none;
}
.Homepage {
  position: relative;
  padding: 2rem 4rem;
  flex: 1;
  overflow-y: scroll;
}
.Homepage::-webkit-scrollbar {
  width: 15px;
}
.Homepage::-webkit-scrollbar-track {
  background-color: transparent;
}
.Homepage::-webkit-scrollbar-thumb {
  background: #d6dee1;
  background-clip: content-box;
  border-radius: 20px;
  border: 6px solid transparent;
}
.homePage-logo {
  display: none;
}
.Homepage-heading {
  font-size: 2.2rem;
  margin-bottom: 1.3rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 1;
  color: white;
  margin-top: 2.1rem;
}
.movies-list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.movies-item {
  padding: 1rem 0 0;
  text-decoration: none;
  list-style: none;
  text-align: center;
  width: calc(25% - 1.5rem);
}
.movies-item:hover {
  background: #131c25;
  cursor: pointer;
  box-shadow: 0 0 2rem #1c3443;
}
.movies-link:active,
.movies-link:hover,
.movies-link:link,
.movies-link:visited {
  text-decoration: none;
  color: #848b9e;
}
.movies-link > img {
  width: 90%;
  height: 85%;
  margin-bottom: 0.5rem;
}
.movie-name {
  font-size: 1rem;
  color: #d9d9d9;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
}
.movie-genre {
  font-size: 10px;
  color: white;
  visibility: none;
  opacity: 0;
}
.release-year {
  font-size: 12px;
  display: block;
  margin: 0.5rem auto 0;
  width: 50%;
  padding: 0.5rem;
  background-color: #5f27cd;
  border-radius: 2rem;
  visibility: none;
  opacity: 0;
}
.movies-item:hover .release-year,
.movies-item:hover .movie-genre {
  visibility: visible;
  opacity: 1;
}
.nextBtn,
.backBtn {
  cursor: pointer;
  border: none;
  background: rgba(15, 213, 255, 0.9);
  border-radius: 2px;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  position: absolute;
  transform: translateY(-43%);
}
.nextBtn {
  bottom: 0;
  right: 3%;
}
.backBtn {
  bottom: 0;
  left: 3%;
}
.button-icon {
  width: 1.5rem;
  height: 1.5rem;
}
@media (max-width: 1440px) {
  .Homepage-heading {
    font-size: 2rem;
  }
  .movies-link {
    height: 300px;
  }
  .movie-name {
    font-size: 0.8rem;
  }
  .Homepage-heading {
    font-size: 2rem;
    margin-bottom: 0.7rem;
    margin-top: 1.5rem;
  }
}
@media (max-width: 1150px) {
  .Homepage {
    padding: 1.5rem 2rem;
  }
  .movies-list {
    gap: 1rem;
    justify-content: center;
  }
  .movies-item {
    width: calc(25% - 0.75rem);
  }
}
@media (max-width: 950px) {
  .movies-item {
    width: calc(33.3% - 0.67rem);
  }
}
@media (max-width: 750px) {
  .movies-item {
    width: calc(50% - 0.5rem);
  }
}
@media (max-width: 450px) {
  .Homepage {
    padding: 1.5rem 1.5rem;
  }
  .movies-item {
    width: 100%;
  }
  .movies-link > img {
    width: 90%;
  }
}
