.loader {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  border: 4px solid transparent;
  border-top-color: #00acd1;
  border-bottom-color: #00acd1;
  animation: spin 2s infinite linear;
  margin: 15% auto;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
