.detailsPage {
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 2rem 3rem;
  flex: 1;
  background-color: #0d181f;
  position: relative;
  color: white;
  overflow-y: scroll;
  height: 100vh;
}
.detailsPage::-webkit-scrollbar {
  width: 15px;
}
.detailsPage::-webkit-scrollbar-track {
  background-color: transparent;
}
.detailsPage::-webkit-scrollbar-thumb {
  background: #d6dee1;
  background-clip: content-box;
  border-radius: 20px;
  border: 6px solid transparent;
}
.close-btn {
  width: 5rem;
  height: 2.5rem;
  border: 2px solid white;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  position: absolute;
  top: 8rem;
  right: 4.1rem;
}
.close-btn:hover {
  background: white;
  color: black;
}
.detailsPage > h1 {
  font-size: 2.8rem;
  letter-spacing: 0.75px;
  margin-top: 3rem;
  text-transform: capitalize;
}
.movie-description {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.rating-and-type {
  display: flex;
  gap: 8rem;
}
.movie-detail-type {
  display: flex;
  gap: 10px;
  align-items: center;
}
.dot {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.movie-rating {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.movie-rating-stars {
  display: flex;
}
.movie-rating-stars svg {
  height: 1.7rem;
  width: 2.2rem;
}
.movie-overview {
  width: 70%;
  margin: 1.5rem 0;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #fff;
  word-spacing: 4px;
}
.movies-btn {
  margin: 2rem 0;
  display: flex;
}
.movie-trailer-link {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff !important;
  background-color: #00b5db;
  text-decoration: none;
}
.movie-trailer-link img {
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
}
.movie-trailer-link,
.favourite-btn {
  padding: 1rem 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 0.75rem;
}
.favourite-btn {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #eb2f06;
  background: transparent;
  font-weight: 700;
  margin-left: 4rem;
  border: 0.2rem solid #eb2f06;
}
.favourite-btn:hover,
.favourite-btn:disabled {
  cursor: pointer;
  color: #fff !important;
  background-color: #eb2f06 !important;
}
.cast-details-container {
  margin: 1.5rem 0;
}
.cast-details-container > h3 {
  letter-spacing: 2px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.cast-actor-details {
  margin-top: 1.5rem;
  display: flex;
  gap: 2rem;
  height: 180px;
}
.cast-detail {
  width: calc(16.67% - 1.66rem);
}
.cast-detail img {
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 2px 4px;
}
.cast-detail figcaption {
  font-size: 1rem;
  line-height: 1.3;
  text-transform: capitalize;
  color: #d9d9d9;
  margin-top: 10px;
}
.movie-directed-by {
  margin-top: 4.5rem;
  text-transform: uppercase;
}
.director-name {
  margin: 0.8rem 0;
  font-size: 16px;
}
.error-window {
  width: 100%;
  text-align: center;
  position: relative;
}
.error-window > .close-btn {
  top: 2rem;
  left: 2rem;
}
.error-msg {
  color: white;
  margin: 8rem auto;
}
@media (max-width: 1281px) {
  .detailsPage > h1 {
    font-size: 2rem;
    margin-top: 1.5rem;
  }
  .movie-overview {
    font-size: 1rem;
  }
  .movies-btn {
    margin: 1rem 0;
  }
  .movie-trailer-link,
  .favourite-btn {
    padding: 0.8rem 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 0.75rem;
  }
}
@media (max-width: 925px) {
  .detailsPage {
    padding: 2rem 3rem;
    height: 100vh;
  }
  .movie-overview {
    width: 85%;
  }
  .movies-btn {
    margin: 1rem 0;
  }
  .cast-actor-details {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 220px;
  }
  .cast-detail {
    width: 100px;
    height: 150px;
  }
  .cast-detail img {
    width: inherit;
    height: inherit;
  }
  .movie-directed-by {
    margin-top: 1rem;
  }
}
@media (max-width: 860px) {
  .rating-and-type {
    flex-direction: column;
    gap: 0rem;
  }
  .movie-rating-stars svg {
    height: 1.5rem;
    width: 2rem;
  }
  .movie-overview {
    margin: 1rem 0;
    font-size: 0.9rem;
  }
  .movie-trailer-link,
  .favourite-btn {
    padding: 0.8rem 2rem;
    border-radius: 0.75rem;
    font-size: 0.8rem;
  }
  .cast-actor-details {
    height: 200px;
  }
}
@media (max-width: 575px) {
  .detailsPage {
    padding: 1.5rem 2rem;
    height: 100vh;
  }
  .detailsPage > h1 {
    font-size: 1.7rem;
    letter-spacing: 0.5px;
    margin-top: 1.5rem;
  }
  .rating-and-type {
    flex-direction: column;
    gap: 0.2rem;
  }
  .movie-rating-stars svg {
    height: 1.2rem;
    width: 1.8rem;
  }
  .movie-detail-type {
    font-size: 0.7rem;
    margin-left: 8px;
  }
  .dot {
    font-size: 1rem;
    padding-bottom: 0rem;
    margin-bottom: 0.5rem;
  }
  .movie-overview {
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.4;
  }
  .movies-btn {
    margin: 1rem 0;
    flex-direction: column;
    row-gap: 1rem;
  }
  .movie-trailer-link,
  .favourite-btn {
    padding: 0.8rem 0;
    justify-content: center;
    font-size: 0.6rem;
  }
  .favourite-btn {
    margin-left: 0rem;
  }
  .cast-details-container {
    margin: 1rem 0;
  }
  .cast-details-container > h3 {
    font-size: 1.1rem;
  }
  .cast-detail {
    width: 100px;
    height: 150px;
  }
  .cast-actor-details {
    margin-top: 1rem;
    height: 180px;
  }
  .cast-detail img {
    width: inherit;
    height: inherit;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 2px 4px;
  }
  .cast-detail figcaption {
    font-size: 0.8rem;
    text-align: center;
    line-height: 1;
  }
  .movie-directed-by {
    margin-top: 0.5rem;
    font-size: 1.1rem;
  }
  .director-name {
    margin: 0.2rem 0;
    font-size: 11px;
  }
  .error-window {
    padding: 0rem 2rem;
  }
}
