@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Raleway:wght@100;300;500&display=swap");
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 18%;
  background-color: #131c25;
  position: relative;
  overflow-y: scroll;
  height: 100vh;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar-logo {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  color: white;
}
.sidebar-logo h2 {
  font-family: "Merienda", cursive !important;
  font-size: 2rem;
}
.sidebar-browse,
.sidebar-categories {
  margin-top: 3.5rem;
}
.sidebar-title {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-left: 2rem;
  color: #656f7f;
  letter-spacing: 2px;
  padding-bottom: 0.5rem;
}
.nav-bar {
  margin-left: 2rem;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.nav-bar a {
  list-style-type: none;
  text-decoration: none;
  color: #848b9e;
  padding: 0.5rem 0;
  position: relative;
  cursor: pointer;
  display: block;
}
.nav-bar a:before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  height: 100%;
  background: #0fd5ff;
  width: 0.2rem;
  border-radius: 15px;
  transform: scaleY(0);
  transition: transform 0.5s;
}
.nav-bar a:hover:before {
  transform: scaleY(1);
}
.nav-bar a:hover {
  color: #0fd5ff;
}
@media (max-width: 1440px) {
  .sidebar-logo {
    margin-top: 2rem;
  }
  .sidebar-logo h2 {
    font-size: 1.5rem;
  }
  .sidebar-browse,
  .sidebar-categories {
    margin-top: 2rem;
  }
  .sidebar-title {
    font-size: 1rem;
    padding-bottom: 0.3rem;
  }
  .nav-bar {
    font-size: 0.8rem;
  }
  .nav-bar a {
    color: #848b9e;
    padding: 0.4rem 0;
  }
}
@media (max-width: 1080px) {
  .sidebar {
    min-width: 180px;
  }
  .sidebar-title {
    margin-left: 1.5rem;
  }
  .nav-bar {
    font-size: 0.7rem;
    margin-left: 1.5rem;
  }
}
@media (max-width: 650px) {
  .sidebar {
    display: none;
  }
  .sideMenu {
    display: block;
    position: absolute;
    top: 4.2rem;
    right: 2rem;
    width: 60%;
    height: 70vh;
    overflow-y: scroll;
    z-index: 500;
  }
  .sideMenu::-webkit-scrollbar {
    display: block;
    width: 15px;
  }
  .sideMenu::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .sideMenu::-webkit-scrollbar-thumb {
    background: #d6dee1;
    background-clip: content-box;
    border-radius: 20px;
    border: 6px solid transparent;
  }
  .sidebar-logo {
    display: none;
  }
}
